[buildout]
extends = profiles/parameters.cfg
develop = .
parts = test


[test]
recipe = zc.recipe.egg
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
eggs =
    pytest
    usermanagement[test]
